<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Add a Student</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/index"> Student Management</a>
            <div class="collapse navbar-collapse">
             <ul class="navbar-nav ms-auto">
    <li class="nav-item"><a class="nav-link active " href="/ajouter">
                         <img src="/static/add-user.png" alt="add-icon" style="width:18px; height:18px; margin-right:6px;">
                        Add</a></li>
                    <li class="nav-item"><a class="nav-link " href="/stats">
                        <img src="/static/bar-chart.png" alt="stats-icon" style="width:18px; height:18px; margin-right:6px;">
                        statistics</a></li>
                    <li class="nav-item"><a class="nav-link text-danger" href="/logout">
                        <img src="/static/logout.png" alt="logout-icon" style="width:18px; height:18px; margin-right:6px;">
                        Logout</a></li>
</ul>
            </div>
        </div>
    </nav>

    <div class="container mt-5">
        <h2 class="text-center mb-4">Add a student</h2>
        <form action="/ajouter" method="POST" class="shadow p-4 bg-white rounded">
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="Nom" class="form-label">Last Name</label>
                    <input type="text" class="form-control" name="nom" required>
                </div>
                <div class="col-md-6">
                    <label for="Prénom" class="form-label">First Name </label>
                    <input type="text" class="form-control" name="" required>
                </div>
            </div>
            <div class="mb-3">
                <label for="Email" class="form-label">Email</label>
                <input type="email" class="form-control" name="Email" required>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="Matière" class="form-label">Subject</label>
                    <input type="text" class="form-control" name="Matière" required>
                </div>
                <div class="col-md-6">
                    <label for="Note" class="form-label">Grade</label>
                    <input type="number" class="form-control" name="Note" step="0.01" min="0" max="20" required>
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-success">Add</button>
            </div>
        </form>
          <a href="{{ url_for('index') }}" class="back-link">← Back to list</a>
    </div>
</body>
</html>

